.FadeTo {
  opacity:0;
}

.FadeFrom {
  opacity:1;
}

.AppearTo {
  opacity:1;
  
}

.AppearFrom {
  opacity:0;
  display:block;
  visibility:visible;
}

.HighlightTo {
  background-color:green; 
}

.HighlightFrom {
  background-color:#EDF5FF; 
}


.myTab .HighlightTo{
  background-color:#c1cdc1; 
}

.myTab2 .HighlightTo{
  background-color:#838b83; 
}