.ice-blockui-overlay {
    position: absolute;
    background-color: white;
    z-index: 28000;
    opacity: 0.22;
    filter: alpha(opacity = 22);
}

.ice-status-indicator-overlay {
    position: absolute;
    background-color: white;
    z-index: 28000;
    opacity: 0.22;
    filter: alpha(opacity = 22);
}
