.if-tree {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0;
}

.if-tree table.if-node-cnt {
    border-spacing: 0;
}

/* Hide root horizontal staff lines */
span.if-tree > table.if-node-cnt > tbody > tr.if-node-tr > td.if-node-sw > div.if-node-ln > img {
    display:none;
}

.if-node-wrp {
    /* prevent border wiggle when active state added */
    border: 1px solid transparent;
    display:inline-block;
    padding:2px;
}

.if-node-cnt {
    margin: 1px 5px;
}

.if-node-sub {
}

.if-node-sw {
    vertical-align: middle;
    cursor: pointer;
    vertical-align: middle;
}

.if-node-sw.noexp {
    cursor: default;
}

.if-node-sw-ico {

}

.if-node-exp {

}

.if-node-tr {
}

.if-node-td {
    position:relative;
    overflow:hidden;
    vertical-align: top;
}

.if-node-td > div.if-node-ln {
    position: relative;
    /* IE7 CSS hack */
    *position: absolute;
    *overflow:hidden;
    width:100%;
    height:100%;
}
.if-node-sw > div.if-node-ln {
    position: relative;
    width:100%;
    height:100%;
}

.if-node-td > div.if-node-ln  > img {
    width:1px;
    /* wrapper required for position within td to work on FF */
    /* 100% height on wrapper doesn't meet height of table cell */
    /* without 100% height on wrapper, 100% height doesn't work */
    /* here either. 10000px with overflow is used instead. */
    height:10000px;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    margin-top:-6px;
}

.if-node-sw > div.if-node-ln > img {
    width:80%;
    height:1px;
    position: absolute;
    top: 50%;
    left: -100%;
    margin-left: 3px;
}