.if-tree {
    display: inline-block;
}

.if-node {
    vertical-align: middle;
    display:table-cell;
}

.if-node-wrp {
    /* prevent border wiggle when active state added */
    border: 1px solid transparent;
    display:inline-block;
    padding:2px;
}

.if-node-cnt {
    margin: 1px 5px;
    display: table;
}

.if-node-sub {
}

.if-node-sw {
    vertical-align: middle;
    display:table-cell;
    cursor: pointer;
}

.if-node-sw.noexp {
    cursor: default;
}

.if-node-sw-ico {

}

.if-node-exp {

}

.if-node-tr {
    display: table-row;
}

.if-node-td {
    display: table-cell;
}
