.if-tree {
    display: inline-block;
}

.if-node {
    vertical-align: middle;
    display:table-cell;
}

.if-node-wrp {
    /* prevent border wiggle when active state added */
    border: 1px solid transparent;
    display:inline-block;
    padding:2px;
}

.if-node-cnt {
    margin: 1px 5px;
    display: table;
}

.if-node-sub {
}

.if-node-sw {
    vertical-align: middle;
    display:table-cell;
    cursor: pointer;
    position:relative;
}

.if-node-sw.noexp {
    cursor: default;
}

.if-node-sw-ico {

}

.if-node-exp {

}

.if-node-tr {
    display: table-row;
}

.if-node-td {
    display: table-cell;
    position: relative;
}

.if-node-td > img {
    width:1px;
    height:100%;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    margin-top:-6px;
}

.if-node-sw > img {
    width:100%;
    height:1px;
    position: absolute;
    top: 50%;
    left: -100%;
    margin-left: 3px;
}