
.ice-skin-sam .ice-file-entry {
    margin: 2px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.ice-skin-sam .ice-file-entry-disabled {
    margin: 2px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #CCCCCC;
    cursor: default;
	/* temporary image just to make it work with smartsprites */
	background-image: url(bullet.gif); /** sprite-ref: sprite; */
}

.ice-skin-sam .ice-file-entry .inactive,
.ice-skin-sam .ice-file-entry .complete {
    display: none;
}

.ice-skin-sam .ice-file-entry .uploading,
.ice-skin-sam .ice-file-entry .progress {
    display: block;
    background-color: #D0D4EE;
    border: 1px solid #0056EA;
    height: 15px;
    width: 200px;
}

.ice-skin-sam .ice-file-entry .uploading .progress-bar,
.ice-skin-sam .ice-file-entry .progress .progress-bar {
    position: relative;
    display: block;
    height: 15px;
}

.ice-skin-sam .ice-file-entry .uploading .progress-bar {
    background-color: #EFEFEF;
    background-image: url( fileEntryIndet.gif );
    background-position: center;
    background-repeat: repeat-x;
}

.ice-skin-sam .ice-file-entry .progress .progress-bar {
    background-color: #026AFF;
    background-position: top left;
    background-repeat: repeat-x;
}
