<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
             
   <display-name>ICEfaces Component Showcase using Seam</display-name>
    <description>
        ICEfaces Component Showcase was designed to make developers aware
        of the rich set of features available in the custom and extended
        components.  This version uses jboss-Seam-2.0.0.beta1 application framework.
    </description>          
    
   <!-- listeners required for this application --> 
   <listener>
      <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
   </listener>
   <listener>
	<listener-class>com.liferay.portal.kernel.servlet.PortletContextListener</listener-class>
   </listener>
 
   <filter>
      <filter-name>Seam Filter</filter-name>
      <filter-class>org.jboss.seam.web.SeamFilter</filter-class>
   </filter>

   <filter-mapping>
      <filter-name>Seam Filter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
    <listener>
      <listener-class>com.icesoft.faces.util.event.servlet.ContextEventRepeater</listener-class>
   </listener>
    <!-- context parameters -->
    <context-param>
        <param-name>com.icesoft.faces.gmapKey</param-name>
        <param-value>ABQIAAAADlu0ZiSTam64EKaCQr9eTRTOTuQNzJNXRlYRLknj4cQ89tFfpxTEqxQnVWL4k55OPICgF5_SOZE06A</param-value>
    </context-param>   
   <context-param>
      <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
      <param-value>server</param-value>
   </context-param>
   <context-param>
      <param-name>facelets.DEVELOPMENT</param-name>
      <param-value>true</param-value>
   </context-param>
    <context-param>
      <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
      <param-value>.jspx</param-value>
   </context-param>

    <context-param>
        <param-name>com.icesoft.faces.actionURLSuffix</param-name>
        <param-value>.seam</param-value>
    </context-param>
    
   <!-- concurrent DOM views must be true for portlets-->
    <context-param>
        <param-name>com.icesoft.faces.concurrentDOMViews</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.icesoft.faces.synchronousUpdate</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param> 
        <param-name>com.icesoft.faces.doJSFStateManagement</param-name>
	<param-value>true</param-value>
    </context-param> 
    
   <context-param>
        <param-name>com.icesoft.faces.uploadDirectory</param-name>
        <param-value>/</param-value>
    </context-param>

    <context-param>
        <param-name>com.icesoft.faces.standardRequestScope</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
        <param-name>org.jboss.seam.core.init.debug</param-name>
        <param-value>true</param-value>
    </context-param>
 
  <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
   </servlet>
    
   <servlet>
        <servlet-name>Persistent Faces Servlet</servlet-name>
        <servlet-class>com.icesoft.faces.webapp.xmlhttp.PersistentFacesServlet</servlet-class>
        <load-on-startup> 1 </load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Blocking Servlet</servlet-name>
        <servlet-class>com.icesoft.faces.webapp.xmlhttp.BlockingServlet</servlet-class>
        <load-on-startup> 1 </load-on-startup>
    </servlet>  
	<servlet>
		<servlet-name>components_textEntry</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_selection</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_buttonsAndLinks</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_autocomplete</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_dragAndDrop</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_calendar</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_tree</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_menubar</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_effects</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_connectionStatus</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_table</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_columns</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_sortableHeader</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_dataPaging</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_expandableTable</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_tableRowSelection</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_progressBar</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_fileUpload</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_charts_charts</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_charts_dynamicChart</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_charts_combiningCharts</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_rich_text_editor</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_gmap_address_attribute</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_gmap_controls</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_gmap_find_address</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_gmap_geocoder</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_gmap_markers</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_column_grouping</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_row_grouping</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_resizable_columns</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_border</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_collapsible</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_divider</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_popup</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_positioned</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_series</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_stack</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_tabset</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_tooltip</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_media_player</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
    
  <!-- servlet mapping -->
  <!-- Source Code reader servlet-->
 <servlet>
     <servlet-name>SourceCode Reader</servlet-name>
     <servlet-class>com.icesoft.icefaces.samples.showcase.util.SourceCodeLoaderServlet</servlet-class>
 </servlet>

    <!-- file upload Servlet -->
  <servlet>
         <servlet-name>uploadServlet</servlet-name>
         <servlet-class>com.icesoft.faces.component.inputfile.FileUploadServlet</servlet-class>
         <load-on-startup> 1 </load-on-startup>
  </servlet>  
    <servlet-mapping>
        <servlet-name>Persistent Faces Servlet</servlet-name>
        <url-pattern>*.seam</url-pattern>
     </servlet-mapping>

     <servlet-mapping>
        <servlet-name>Persistent Faces Servlet</servlet-name>
        <url-pattern>/xmlhttp/*</url-pattern>
    </servlet-mapping>
    <!-- Blocking Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>Blocking Servlet</servlet-name>
        <url-pattern>/block/*</url-pattern>
    </servlet-mapping>
   <!-- file upload Mapping -->
    <servlet-mapping>
         <servlet-name>uploadServlet</servlet-name>
         <url-pattern>/uploadHtml</url-pattern>
    </servlet-mapping>  
     <servlet-mapping>
        <servlet-name>SourceCode Reader</servlet-name>
        <url-pattern>/sourcecodeStream.html</url-pattern>
    </servlet-mapping>     
 	<servlet-mapping>
		<servlet-name>components_textEntry</servlet-name>
		<url-pattern>/components_textEntry/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_selection</servlet-name>
		<url-pattern>/components_selection/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_buttonsAndLinks</servlet-name>
		<url-pattern>/components_buttonsAndLinks/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_autocomplete</servlet-name>
		<url-pattern>/components_autocomplete/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_dragAndDrop</servlet-name>
		<url-pattern>/components_dragAndDrop/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_calendar</servlet-name>
		<url-pattern>/components_calendar/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_tree</servlet-name>
		<url-pattern>/components_tree/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_menubar</servlet-name>
		<url-pattern>/components_menubar/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_effects</servlet-name>
		<url-pattern>/components_effects/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_connectionStatus</servlet-name>
		<url-pattern>/components_connectionStatus/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_table</servlet-name>
		<url-pattern>/components_table_table/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_columns</servlet-name>
		<url-pattern>/components_table_columns/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_sortableHeader</servlet-name>
		<url-pattern>/components_table_sortableHeader/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_dataPaging</servlet-name>
		<url-pattern>/components_table_dataPaging/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_expandableTable</servlet-name>
		<url-pattern>/components_table_expandableTable/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_tableRowSelection</servlet-name>
		<url-pattern>/components_table_tableRowSelection/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_progressBar</servlet-name>
		<url-pattern>/components_progressBar/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_fileUpload</servlet-name>
		<url-pattern>/components_fileUpload/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_charts_charts</servlet-name>
		<url-pattern>/components_charts_charts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_charts_dynamicChart</servlet-name>
		<url-pattern>/components_charts_dynamicChart/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_charts_combiningCharts</servlet-name>
		<url-pattern>/components_charts_combiningCharts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_rich_text_editor</servlet-name>
		<url-pattern>/components_rich_text_editor/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_gmap_address_attribute</servlet-name>
		<url-pattern>/components_gmap_address_attribute/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_gmap_controls</servlet-name>
		<url-pattern>/components_gmap_controls/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_gmap_find_address</servlet-name>
		<url-pattern>/components_gmap_find_address/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_gmap_geocoder</servlet-name>
		<url-pattern>/components_gmap_geocoder/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_gmap_markers</servlet-name>
		<url-pattern>/components_gmap_markers/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_column_grouping</servlet-name>
		<url-pattern>/components_table_column_grouping/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_row_grouping</servlet-name>
		<url-pattern>/components_table_row_grouping/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_resizable_columns</servlet-name>
		<url-pattern>/components_table_resizable_columns/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_border</servlet-name>
		<url-pattern>/components_panel_border/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_collapsible</servlet-name>
		<url-pattern>/components_panel_collapsible/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_divider</servlet-name>
		<url-pattern>/components_panel_divider/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_popup</servlet-name>
		<url-pattern>/components_panel_popup/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_positioned</servlet-name>
		<url-pattern>/components_panel_positioned/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_series</servlet-name>
		<url-pattern>/components_panel_series/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_stack</servlet-name>
		<url-pattern>/components_panel_stack/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_tabset</servlet-name>
		<url-pattern>/components_panel_tabset/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_tooltip</servlet-name>
		<url-pattern>/components_panel_tooltip/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_media_player</servlet-name>
		<url-pattern>/components_media_player/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<taglib>
		<taglib-uri>http://java.sun.com/portlet</taglib-uri>
		<taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
	</taglib>
   
 <!-- Welcome files -->
    <welcome-file-list>    
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

   
</web-app>

