.ui-inputfield.ui-state-required {
    background-color: #55FF55;
}

.ui-inputfield.ui-state-optional {
    background-color: #7BDC7B;
}

.ui-state-required.ui-state-error {
    background-color: #11FF11;
}

.ui-state-optional.ui-state-error {
    background-color: #1BDC1B;
}
