.ui-inputfield.ui-state-required {
    background-color: #5555FF;
}

.ui-inputfield.ui-state-optional {
    background-color: #7B7BDC;
}

.ui-state-required.ui-state-error {
    background-color: #1111FF;
}

.ui-state-optional.ui-state-error {
    background-color: #1B1BDC;
}
