.ui-inputfield.ui-state-required {
    background-color: #FF5555;
}

.ui-inputfield.ui-state-optional {
    background-color: #DC7B7B;
}

.ui-state-required.ui-state-error {
    background-color: #FF1111;
}

.ui-state-optional.ui-state-error {
    background-color: #DC1B1B;
}
