body {
    line-height: 17px;
    color: black;
    background: #FFFFFF;
    direction: ltr;
}

body, html {
    height: 95%;
    margin: 0;
    padding: 0;
}

body, table td, select {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}

.worldImage {
    width: 1100px;
    height: 569px;
    position: absolute;
    left: 200px;
    top: 0px;
    border: 1px solid #BBBBBB;
}

.consolePopup {
    background-color: #DDDDDD;
    border: 1px solid #000000;
    z-index: 2005;
    width: 300px;
}

.consolePopupHdr {
    width: 100%;
    background-color: #BBBBBB;
    padding: 5px;
}

.consolePopupBody {
    width: 100%;
    padding: 5px;
}

.occupantPopup {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    padding-left: 2px;
    padding-right: 2px;
}

.nameLabel, .moodLabel, .thoughtLabel, .messageLabel, .regionLabel {
    width: 100%;
    text-align: right;
}

.nameInput, .moodInput, .thoughtInput, .messageInput, .regionInput {
    width: 100%;
    padding: 3px;
}

.inputSet {
    margin-bottom: 5px;
    width: 100%;
}

.inputSetColLabel {
	text-align: right;
	width: 20%;
}

.inputSetColInput {
	width: 50%;
}

.inputSetColError {
	width: 30%;
}

.worldPanel {
    width: 50%;
    border: 5px outset #ABABAB;
    padding: 10px;
    margin-top: 25px;
}

.regionPanel {
    border-bottom: 1px solid #ABABAB;
    padding-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.regionHeader {
    font-weight: bold;
    font-size: 14px;
}