/* Horizontal Slider */

.ice-skin-rime .yui3-slider-x .yui3-slider-rail {
	background-position: 0 9px;
    background-image: url(rail-x.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; sprite-margin-top: 9px; sprite-margin-bottom: 11px; */
    background-repeat: repeat-x;
    height: 25px;
}

.ice-skin-rime .yui3-slider-x .yui3-slider-rail-cap-left {
	background-position: 0 9px;
	background-image: url(rail-cap-left.png); /** sprite-ref: sprite; sprite-margin-top: 9px; sprite-margin-bottom: 11px; */
	background-repeat: no-repeat;
    height: 20px;
    left: -2px;
    width: 5px;
}

.ice-skin-rime .yui3-slider-x .yui3-slider-rail-cap-right {
	background-position: 0 9px;
	background-image: url(rail-cap-right.png); /** sprite-ref: sprite; sprite-margin-top: 9px; sprite-margin-bottom: 11px; */
	background-repeat: no-repeat;
    height: 20px;
    right: -2px;
    width: 5px;
}

.ice-skin-rime .yui3-slider-x .yui3-slider-thumb {
    height: 26px;
    width: 24px;
}

.ice-skin-rime .yui3-slider-x .yui3-slider-thumb-image {
    left: 0;
    top: -7px;
}

.ice-skin-rime .yui3-slider-x .yui3-slider-thumb-shadow {
    left: 0;
    opacity: 0.15;
    filter: alpha(opacity=15);
    top: -47px;
}


.ice-skin-rime .yui3-slider-x .yui3-slider-rail .yui3-slider-thumb img {
    top: -225px;		
	
}
 
.ice-skin-rime .yui3-slider-x .yui3-slider-rail .yui3-slider-thumb {
    background: url(thumb-x.png) no-repeat 0px -9px;
    height: 22px;
    width: 22px;
}



/* Vertical Slider */

.ice-skin-rime .yui3-slider-y .yui3-slider-rail {
	background-position: 9px 0;
    background-image: url(rail-y.png); /** sprite-ref: sprite-y; sprite-alignment: repeat; sprite-margin-left: 9px; sprite-margin-right: 11px; */
    background-repeat: repeat-y;
    width: 25px;
}

.ice-skin-rime .yui3-slider-y .yui3-slider-rail-cap-top {
	background-position: 9px 0;
	background-image: url(rail-cap-top.png); /** sprite-ref: sprite; sprite-margin-left: 9px; sprite-margin-right: 11px; */
	background-repeat: no-repeat;
    width: 20px;
    top: -2px;
    height: 5px;
}

.ice-skin-rime .yui3-slider-y .yui3-slider-rail-cap-bottom {
	background-position: 9px 0;
	background-image: url(rail-cap-bottom.png); /** sprite-ref: sprite; sprite-margin-left: 9px; sprite-margin-right: 11px; */
	background-repeat: no-repeat;
    width: 20px;
    bottom: -2px;
    height: 5px;
}

.ice-skin-rime .yui3-slider-y .yui3-slider-thumb {
    width: 26px;
    height: 24px;
}

.ice-skin-rime .yui3-slider-y .yui3-slider-thumb-image {
    top: 0;
    left: -8px;
}

.ice-skin-rime .yui3-slider-y .yui3-slider-thumb-shadow {
    top: 0;
    left: -48px;
    opacity: 0.15;
    filter: alpha(opacity=15);

}

.ice-skin-rime .yui3-slider-y .yui3-slider-rail .yui3-slider-thumb img {
    top: -225px;
} 
 
.ice-skin-rime .yui3-slider-y .yui3-slider-rail .yui3-slider-thumb {
    background: url(thumb-y.png)  no-repeat -8px 0px;
    height: 22px;
    width: 23px;	
}
