
.ice-skin-rime .ice-file-entry {
    margin: 2px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.ice-skin-rime .ice-file-entry-disabled {
    margin: 2px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #CCCCCC;
    cursor: default;
	/* temporary image just to make it work with smartsprites */
	background-image: url(bullet.gif); /** sprite-ref: sprite; */
}