/* common to all columns*/
.stockColumn, .modelColumn, .desriptionColumn, .odometerColumn, .priceColumn{
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
}

.stockColumn{
    width: 80px;
}

.modelColumn{
    width: 225px;
}

.desriptionColumn{
    width: 150px;
}

.odometerColumn{
    width: 90px;
}

.priceColumn{
    width: 75px;
}

.tableStyle{
    border: 1px solid #666666;
}

.oddRow{
    background-color: #C0C0C0;
}

.evenRow{
    background-color: #CCCCFF;
}



