
.ice-skin-sam .ice-file-entry {
    margin: 2px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.ice-skin-sam .ice-file-entry-disabled {
    margin: 2px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #CCCCCC;
    cursor: default;
	/* temporary image just to make it work with smartsprites */
	background-image: url(bullet.gif); /** sprite-ref: sprite; */
}

.ice-skin-sam .ice-file-entry .inactive,
.ice-skin-sam .ice-file-entry .complete {
    display: none;
}

.ice-skin-sam .ice-file-entry .uploading,
.ice-skin-sam .ice-file-entry .progress {
    display: block;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9D9D9;
    height: 17px; /* 1em */
    width: 200px;
}

.ice-skin-sam .ice-file-entry .uploading .progress-bar,
.ice-skin-sam .ice-file-entry .progress .progress-bar {
    position: relative;
    display: block;
    height: 17px; /* 1 em */
}

.ice-skin-sam .ice-file-entry .uploading .progress-bar {
    background-color: blue;
}

.ice-skin-sam .ice-file-entry .progress .progress-bar {
    background-color: lightblue;
}
