/** Overriding the default CSS styles for the output progress component */

.iceOutProg {
    margin: 5px;
}

.iceOutProgBg {
    border: 4px inset #000000;
    width: 450px;
    height: 25px;
}

.iceOutProgFill {
    background-color: #FF0202;
    background-position: top left;
    background-repeat: repeat-x;
    height: 25px;
    display: block;
}

.iceOutProgTxt {
    color: #002200;
    font-size: large;
}
