
.ice-skin-rime .ice-linkbutton .yui-link-button a {
    text-decoration: none;
    font-weight: normal;
    color: #333333;
}

.ice-skin-rime .ice-linkbutton .yui-button a {
    text-decoration: none;
    font-weight: normal;
    color: #333333;
}

.ice-skin-rime .ice-linkbutton .yui-button a:hover {
    text-decoration: underline;
    font-weight: normal;
    color: #333333;
}