/* rows */
.evenRow {

}

.oddRow {
    background-color: #dedede;
}

.tableRowSelected{
    background-color:#ddaa77;

}
.tableRowMouseOver{
    background-color:#ffbb99;    
}

.headerColumn, dataColumn, inputColumn, buttonColumn{
    border-right: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    text-align: left;
}

.headerColumn{
    width: 50%;
    text-align: center;
}

.dataColumn{
    width: 50%;
}

.inputColumn{
    width: 200px;
}

.buttonColumn{
    width: 175px;
}