
/**
 * NOTE:
 * If this file defines a completely new skin, then uncomment the core styles
 * below. If this file simply aims at overriding certain aspects of another
 * existing skin, then leave the core styles below comented out.
 */

/* load original sam skin from YUI library (with class names renamed to ice-skin-sam) */
@import url('../sam_renamed/tabview-skin.css');

.ice-skin-sam .yui-navset-left .yui-nav div.yui-navdiv, .ice-skin-sam .yui-navset-right .yui-nav div.yui-navdiv {
border-width:1px 0;
}

.ice-skin-sam .yui-navset-left .yui-nav div.yui-navdiv em, .ice-skin-sam .yui-navset .yui-navset-left .yui-nav div.yui-navdiv em, .ice-skin-sam .yui-navset-right .yui-nav div.yui-navdiv em {
border-width:0 0 0 1px;
left:-1px;
padding:0.2em 0.75em;
top:auto;
}

.ice-skin-sam .yui-navset-right .yui-nav div.yui-navdiv em {
border-width:0 1px 0 0;
left:auto;
right:-1px;
}

.ice-skin-sam .yui-navset-left .yui-nav div.yui-navdiv, .ice-skin-sam .yui-navset-left .yui-nav .selected div.yui-navdiv, .ice-skin-sam .yui-navset-left .yui-nav a:hover, .ice-skin-sam .yui-navset-right .yui-nav div.yui-navdiv, .ice-skin-sam .yui-navset-right .yui-nav .selected div.yui-navdiv, .ice-skin-sam .yui-navset-right .yui-nav a:hover, .ice-skin-sam .yui-navset-bottom .yui-nav div.yui-navdiv, .ice-skin-sam .yui-navset-bottom .yui-nav .selected div.yui-navdiv, .ice-skin-sam .yui-navset-bottom .yui-nav a:hover {
background-image:none;
}

.ice-skin-sam .yui-navset .yui-navset-bottom .yui-nav div.yui-navdiv em, .ice-skin-sam .yui-navset-bottom .yui-nav div.yui-navdiv em {
border-width:0 0 1px;
bottom:-1px;
top:auto;
}

.ice-skin-sam .yui-navset .yui-nav div.yui-navdiv, .ice-skin-sam .yui-navset .yui-navset-top .yui-nav div.yui-navdiv {
border-color:#A3A3A3;
border-style:solid;
border-width:0 1px;
color:#000000;
position:relative;
text-decoration:none;
}

.ice-skin-sam .yui-navset .yui-nav div.yui-navdiv em, .ice-skin-sam .yui-navset .yui-navset-top .yui-nav div.yui-navdiv em {
border-color:#A3A3A3;
border-style:solid;
border-width:1px 0 0;
bottom:0;
left:0;
padding:0.25em 0.75em;
position:relative;
right:0;
top:-1px;
}

.ice-skin-sam .yui-navset .yui-nav .selected div.yui-navdiv, .ice-skin-sam .yui-navset .yui-nav .selected a:focus, .ice-skin-sam .yui-navset .yui-nav .selected a:hover {
color:#FFFFFF;
}

.ice-skin-sam .yui-navset .yui-nav .selected div.yui-navdiv em {
padding:0.35em 0.75em;
}

.ice-skin-sam .yui-navset .yui-nav .selected div.yui-navdiv, .ice-skin-sam .yui-navset .yui-nav .selected div.yui-navdiv em {
border-color:#243356;
}

.ice-skin-sam .yui-navset .yui-nav .selected div.yui-navdiv, .ice-skin-sam .yui-navset .yui-nav .selected div.yui-navdiv em {
border-color:#243356;
}

/* -- .yui-navset defaults to .yui-navset-top -- */
.ice-skin-sam .yui-navset .yui-nav,.ice-skin-sam .yui-navset .yui-navset-top .yui-nav
{

}

.ice-skin-sam .yui-navset .yui-nav li,.ice-skin-sam .yui-navset .yui-navset-top .yui-nav li
{

}

.ice-skin-sam .yui-navset .yui-nav .selected,.ice-skin-sam .yui-navset .yui-navset-top .yui-nav .selected
{

}

/* -- Tab background -- */
.ice-skin-sam .yui-navset .yui-nav a,.ice-skin-sam .yui-navset .yui-navset-top .yui-nav a
{
	background-image: url(background.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x;
}

.ice-skin-sam .yui-navset .yui-nav a em,.ice-skin-sam .yui-navset .yui-navset-top .yui-nav a em
{

}

/* -- Selected tab background -- */
.ice-skin-sam .yui-navset .yui-nav .selected a,.ice-skin-sam .yui-navset .yui-nav .selected a:focus,.ice-skin-sam .yui-navset .yui-nav .selected a:hover
{
	background-image: url(background-selected-1.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x;
}

/* -- Selected tab background -- */
.ice-skin-sam .yui-navset .yui-nav a:hover,.ice-skin-sam .yui-navset .yui-nav a:focus
{
	background-image: url(background-selected-2.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x;
}

.ice-skin-sam .yui-navset .yui-nav .selected a em
{

}

.ice-skin-sam .yui-navset .yui-nav .selected a,.ice-skin-sam .yui-navset .yui-nav .selected a em
{

}

.ice-skin-sam .yui-navset .yui-content
{

}

.ice-skin-sam .yui-navset .yui-content,.ice-skin-sam .yui-navset .yui-navset-top .yui-content
{

}

/* -- Left and right orientations -- */
.ice-skin-sam .yui-navset-left .yui-nav,.ice-skin-sam .yui-navset .yui-navset-left .yui-nav,.ice-skin-sam .yui-navset .yui-navset-right .yui-nav,.ice-skin-sam .yui-navset-right .yui-nav
{

}

.ice-skin-sam .yui-navset .yui-navset-right .yui-nav,.ice-skin-sam .yui-navset-right .yui-nav
{

}

.ice-skin-sam .yui-navset-left .yui-nav li,.ice-skin-sam .yui-navset .yui-navset-left .yui-nav li,.ice-skin-sam .yui-navset-right .yui-nav li
{

}

.ice-skin-sam .yui-navset-right .yui-nav li
{

}

.ice-skin-sam .yui-navset-left .yui-nav .selected,.ice-skin-sam .yui-navset .yui-navset-left .yui-nav .selected
{

}

.ice-skin-sam .yui-navset-right .yui-nav .selected
{

}

.ice-skin-sam .yui-navset-left .yui-nav a,.ice-skin-sam .yui-navset-right .yui-nav a
{

}

.ice-skin-sam .yui-navset-left .yui-nav a em,.ice-skin-sam .yui-navset .yui-navset-left .yui-nav a em,.ice-skin-sam .yui-navset-right .yui-nav a em
{

}

.ice-skin-sam .yui-navset-right .yui-nav a em
{

}

.ice-skin-sam .yui-navset-left .yui-nav a,.ice-skin-sam .yui-navset-left .yui-nav .selected a,.ice-skin-sam .yui-navset-left .yui-nav a:hover,.ice-skin-sam .yui-navset-right .yui-nav a,.ice-skin-sam .yui-navset-right .yui-nav .selected a,.ice-skin-sam .yui-navset-right .yui-nav a:hover,.ice-skin-sam .yui-navset-bottom .yui-nav a,.ice-skin-sam .yui-navset-bottom .yui-nav .selected a,.ice-skin-sam .yui-navset-bottom .yui-nav a:hover
{

}

.ice-skin-sam .yui-navset-left .yui-content
{

}

.ice-skin-sam .yui-navset-bottom .yui-nav,.ice-skin-sam .yui-navset .yui-navset-bottom .yui-nav
{

}

.ice-skin-sam .yui-navset .yui-navset-bottom .yui-nav .selected,.ice-skin-sam .yui-navset-bottom .yui-nav .selected
{

}

.ice-skin-sam .yui-navset .yui-navset-bottom .yui-nav li,.ice-skin-sam .yui-navset-bottom .yui-nav li
{

}

.ice-skin-sam .yui-navset .yui-navset-bottom .yui-nav a em,.ice-skin-sam .yui-navset-bottom .yui-nav a em
{

}

.ice-skin-sam .yui-navset-bottom .yui-content,.ice-skin-sam .yui-navset .yui-navset-bottom .yui-content
{

}



/**
 * NOTE:
 * The following rules were added to work with the ICEfaces TabSet component
 * and override certain aspects of the YUI SAM skin.
 */

.yui-navset button
{

}

.ice-skin-sam .yui-navset-left .yui-nav div.yui-navdiv, .ice-skin-sam .yui-navset-right .yui-nav div.yui-navdiv
{

}

.ice-skin-sam .yui-navset-left .yui-nav div.yui-navdiv em, .ice-skin-sam .yui-navset .yui-navset-left .yui-nav div.yui-navdiv em, .ice-skin-sam .yui-navset-right .yui-nav div.yui-navdiv em
{

}

.ice-skin-sam .yui-navset-right .yui-nav div.yui-navdiv em
{

}

.ice-skin-sam .yui-navset-left .yui-nav div.yui-navdiv, .ice-skin-sam .yui-navset-left .yui-nav .selected div.yui-navdiv, .ice-skin-sam .yui-navset-left .yui-nav a:hover, .ice-skin-sam .yui-navset-right .yui-nav div.yui-navdiv, .ice-skin-sam .yui-navset-right .yui-nav .selected div.yui-navdiv, .ice-skin-sam .yui-navset-right .yui-nav a:hover, .ice-skin-sam .yui-navset-bottom .yui-nav div.yui-navdiv, .ice-skin-sam .yui-navset-bottom .yui-nav .selected div.yui-navdiv, .ice-skin-sam .yui-navset-bottom .yui-nav a:hover
{

}

.ice-skin-sam .yui-navset .yui-navset-bottom .yui-nav div.yui-navdiv em, .ice-skin-sam .yui-navset-bottom .yui-nav div.yui-navdiv em
{

}

.ice-skin-sam .yui-navset .yui-nav div.yui-navdiv, .ice-skin-sam .yui-navset .yui-navset-top .yui-nav div.yui-navdiv
{
	background-image: url(background.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x;
}

.ice-skin-sam .yui-navset .yui-nav div.yui-navdiv em, .ice-skin-sam .yui-navset .yui-navset-top .yui-nav div.yui-navdiv em
{

}

.ice-skin-sam .yui-navset .yui-nav .selected div.yui-navdiv, .ice-skin-sam .yui-navset .yui-nav .selected a:focus, .ice-skin-sam .yui-navset .yui-nav .selected a:hover {
	background-image: url(background-selected-1.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x;
}

.ice-skin-sam .yui-navset .yui-nav .selected div.yui-navdiv em
{

}

.ice-skin-sam .yui-navset .yui-nav .selected div.yui-navdiv, .ice-skin-sam .yui-navset .yui-nav .selected div.yui-navdiv em
{

}

.yui-navset .yui-nav a
{

}

.yui-navset-left .yui-nav li div.yui-navdiv, .yui-navset-right .yui-nav li div.yui-navdiv
{

}

.yui-navset-bottom .yui-nav li div.yui-navdiv
{

}

.yui-navset .yui-nav li div.yui-navdiv em, .yui-navset-top .yui-nav li div.yui-navdiv em, .yui-navset-bottom .yui-nav li div.yui-navdiv em
{

}

.ice-skin-sam .yui-navset .yui-nav .selected div.yui-navdiv, .ice-skin-sam .yui-navset .yui-nav .selected div.yui-navdiv em
{

}
