.navbar-brand {
    background-image: url(../images/bridgeit-logo-4x.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 200px;
    height: 78px;
    background-size: 160px 62px;
}

.jumbotron {
    font-size: 13px;
    background-color: transparent;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(157,108,78,0.9);
}
.jumbotron h1{
    font-family: 'Open Sans', sans-serif;
}
.jumbotron .btn{
    color: rgb(99,92,77);
    border: 1px solid #AD8F42;
    padding: 2px 12px;
    margin-top: 32px;
    background: #e2a74c; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2a74c 0%, #fbc34a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2a74c), color-stop(100%,#fbc34a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2a74c 0%,#fbc34a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2a74c 0%,#fbc34a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2a74c 0%,#fbc34a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2a74c 0%,#fbc34a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a74c', endColorstr='#fbc34a',GradientType=0 ); /* IE6-9 */
}
.jumbotron .btn:hover{
    color: #994300;
}
.jumbotron .btn i{
    padding: 6px 0px 6px 8px;
    display: inline-block;
    margin-left: 3px;
    border-left: 1px solid #635C4D;
    text-align: center;
}

@media screen and (min-width: 768px) {
    #wrap{
        background-image: url(../images/banner-background-diagonal-lines.png);
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: 50% 80px;
    }
    .navbar-nav {
        float: right;
    }
    /* submenu hover */
    ul.nav li.dropdown:hover>ul.dropdown-menu {
        display: block;
        width: 100%;
    }
    .dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
        background-color: inherit;
    }
    .nav>li.dropdown {
        position: static;
    }
    ul.dropdown-menu {
        text-align: center;
    }
    .open>.dropdown-menu {
        width: 100%;
    }
    ul.dropdown-menu>li {
        display: inline-block;
    }
    .navbar-default .navbar-nav>.dropdown>a .caret {
        display: none;
        margin-left: 2px;
        vertical-align: middle;
        border-right: 15px solid rgba(0, 0, 0, 0);
        border-top: 0 dotted;
        border-left: 15px solid rgba(0, 0, 0, 0);
    }
    .navbar-default .navbar-nav>.dropdown>a:hover .caret,
    .navbar-default .navbar-nav>.dropdown>a:focus .caret{
        border-bottom: 15px solid #DD5734;
        bottom: -1px;
        position: absolute;
        z-index: 10000;
        display: inline-block;
        left: 32%;
    }
    .dropdown-menu {
        background-color: #DD5734;
    }
    .dropdown-menu>li>a {
        color: #FFF;
    }
    .dropdown-menu-summary {
        border-left: 1px solid #FFF;
        font-size: 9px;
        color: #FFF;
        padding: 1px 10px;
        line-height: 12px;
        max-width: 300px;
        text-align: left;
        vertical-align: middle;
    }
    .jumbotron {
        padding-top: 120px;
        padding-bottom: 75px;
        text-align: left;
        background-image: url(../images/banner-image.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 66px 118px;
        background-clip: content-box;
    }
    .jumbotron .container{
        width: 50%;
        margin-left: 0;
        text-align: right;
        min-height: 200px;
    }
    .jumbotron h1 {
        font-size: 40px;
    }
    .jumbotron .banner-image{
        width: 100%;
    }
    #carousel{
        min-height: 200px;
        background-color: rgba(0,0,0,0.2);
        padding-top: 20px;
        background: #e4f0de; /* Old browsers */
        background: -moz-linear-gradient(top,  #e4f0de 0%, #b1d6a1 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f0de), color-stop(100%,#b1d6a1)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #e4f0de 0%,#b1d6a1 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #e4f0de 0%,#b1d6a1 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #e4f0de 0%,#b1d6a1 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #e4f0de 0%,#b1d6a1 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f0de', endColorstr='#b1d6a1',GradientType=0 ); /* IE6-9 */
        
    }
    .carousel-inner{
        margin-top: -20px;
    }
    #carousel .item{
        min-height: 200px;
    }
    #carousel h1, #carousel h2{
        text-shadow: 0px 2px 3px #79B59C;
    }
    #carousel i{
        margin-right: 10px;
    }
}