.row img, .row video, .row audio{
    margin: 0 auto;
    display: inline-block;
}
.row audio {
    width: 100%;
    height: 20px;
    margin-top: 10px;
}
.media .row{
    padding: 20px;
}
.row img, #videos .row video, #recordins .row audio{
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}
#currentPhoto img{
    width: auto;
    margin: 3px;
    box-shadow: 2px 2px 5px #999;
}
#currentPhotoDesc{
    max-width: 75%;
    line-height: 16px;
    font-size: 14px;
    text-decoration: none;
    color: red;
    text-shadow: 1px 1px #666;
    white-space: normal;
    vertical-align: top;
}
.highlightPlaceholder::-webkit-input-placeholder, .highlightPlaceholder:-moz-placeholder, 
.highlightPlaceholder::-moz-placeholder, .highlightPlaceholder:-ms-input-placeholder{
   color: red;
}
#getBridgeItPopup{
    width: 80%;
    height: auto;
    min-height: 300px;
    position: absolute;
    bottom: 0;
    border: 20px solid #EEE;
    border-radius: 10px;
    padding: 20px;
    text-align:center;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    right: 0;
    background-color: rgb(245, 222, 180);
    -webkit-transition: opacity 5s ease-in-out;
    -moz-transition: opacity 5s ease-in-out;
    -o-transition: opacity 5s ease-in-out;
    transition: opacity 5s ease-in-out;
}
#getBridgeItPopup p{ font-size: 20px;}
#closeGetBridgePopup{
    position: absolute;
    right: 5px;
    top: 5px;
    color: white;
}