.ui-tableconf {
    width:500px;
    position: absolute;
    left:50%;
    top:20%;
    margin-left:-250px !important;
    z-index:5;
}

.ui-tableconf-header {
    padding: 4px;
}

.ui-tableconf-body {
    text-align:center;
    border-top: 0;
}
.ui-tableconf-body > table {
    width:100%;
}
.ui-tableconf-body > table > thead > tr > th {
    font-size:12pt;
    padding: 3px 10px;
}
.ui-tableconf-body > table > tbody > tr > td {
    background-color: white;
    overflow:hidden;
}
.ui-tableconf-body > table {
    border-collapse: collapse;
}
.ui-tableconf-body > table td, .ui-tableconf-body > table th {
    border: 1px solid #AAA;
}
.ui-tableconf-body > table > thead > tr:first-child th {
    border: 0;
}
.ui-tableconf-body > table tr:first-child th {
    border-top: 0;
}
.ui-tableconf-body > table tr:last-child td {
    border-bottom: 0;
}
.ui-tableconf-body > table tr td:first-child,
.ui-tableconf-body > table tr th:first-child {
    border-left: 0;
}
.ui-tableconf-body > table tr td:last-child,
.ui-tableconf-body > table tr th:last-child {
    border-right: 0;
}

.ui-tableconf-button {
    position: absolute;
    top:50%;
    margin-top: -12px !important;
}

.ui-header-right .ui-tableconf-button {
    top:0;
    position: static;
    margin-top:0;
}