.ice-skin-rime .ice-checkboxbutton .yui-button{
    border-width: 1px 0;
	border-style:solid;
	border-color:#808080;
	background-image: url(background.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x;
	margin:auto .25em;}
	
.ice-skin-rime .ice-checkboxbutton .yui-button .first-child{
	border-width: 0 1px;
	border-style:solid;
	border-color:#808080;
	margin:0 -1px;
    _margin: 0;
	}
	
.ice-skin-rime .ice-checkboxbutton .yui-button button,.ice-skin-rime .ice-checkboxbutton .yui-button a{
	padding:0 10px;
	font-size:93%;
	line-height:2;
	*line-height:1.7;
	min-height:2em;
	*min-height:auto;
	color:#000;
	border-width: 0px;
	border-style:solid;
	border-color:#808080;
	background-image: url(background.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x;
	margin:auto .25em;
	}
	
.ice-skin-rime .ice-checkboxbutton .yui-button a{
	*line-height:1.875;
	*padding-bottom:1px;
	}
	
.ice-skin-rime .ice-checkboxbutton .yui-button-focus{
	border-color:#7D98B8;
 	background-image: url(background-focus.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x;   }
	
.ice-skin-rime .ice-checkboxbutton .yui-button-focus .first-child{
	border-color:#7D98B8;}
	
.ice-skin-rime .ice-checkboxbutton .yui-button-focus button,.ice-skin-rime .ice-checkboxbutton .yui-button-focus a{
	color:#000;}
		
.ice-skin-rime .ice-checkboxbutton .yui-button-hover{
	border-color:#7D98B8;
 	background-image: url(background-focus.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x;   }
	
.ice-skin-rime .ice-checkboxbutton .yui-button-hover .first-child{
	border-color:#7D98B8;}
	
.ice-skin-rime .ice-checkboxbutton .yui-button-hover button,.ice-skin-rime .ice-checkboxbutton .yui-button-hover a{
	color:#000;
	border-color:#7D98B8;
 	background-image: url(background-focus.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x;   }
	
.ice-skin-rime .ice-checkboxbutton .yui-button-active{
	border-color:#7D98B8;
  	background-image: url(background-active.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x;   
}
	
.ice-skin-rime .ice-checkboxbutton .yui-button-active .first-child{
	border-color:#7D98B8;}
	
.ice-skin-rime .ice-checkboxbutton .yui-button-active button,.ice-skin-rime .ice-checkboxbutton .yui-button-active a{
	color:#000;
	border-color:#7D98B8;
	background-image: url(background-highlight.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x; 
	 }
	
.ice-skin-rime .ice-checkboxbutton .yui-radio-button-checked,.ice-skin-rime .ice-checkboxbutton 
 .yui-checkbox-button-checked{
	border-color:#304369;
 	background-image: url(background-highlight.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x; 
}
	
.ice-skin-rime .ice-checkboxbutton .yui-radio-button-checked .first-child,
.ice-skin-rime .ice-checkboxbutton .yui-checkbox-button-checked .first-child{
	border-color:#304369;
 	background-image: url(background-highlight.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x; 
	}
	
.ice-skin-rime .ice-checkboxbutton .yui-radio-button-checked button,.ice-skin-rime .ice-checkboxbutton .yui-checkbox-button-checked button{
	color:#0000;
 	background-image: url(background-highlight.png); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x; 
	}
	
.ice-skin-rime .ice-checkboxbutton .yui-button-disabled{
	border-color:#ccc;
	background-image: url(background-disabled.gif); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x; 	
}
	
.ice-skin-rime .ice-checkboxbutton .yui-button-disabled .first-child{
	border-color:#ccc;
	background-image: url(background-disabled.gif); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x; 	
	}
	
.ice-skin-rime .ice-checkboxbutton .yui-button-disabled button,.ice-skin-rime .ice-checkboxbutton .yui-button-disabled a{
	color:#A6A6A6;
	cursor:default;
	background-image: url(background-disabled.gif); /** sprite-ref: sprite-x; sprite-alignment: repeat; */
	background-repeat: repeat-x; 	
	}
