<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
    <session-factory>

        <!-- Settings for a local MySQL (webmail) database. -->
        <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/webmail</property>
        <property name="connection.username">root</property>
        <property name="connection.password">aveline</property>

        <!-- Settings for a local Postgress (webmail) database. -->
        <!--<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost/webmail</property>
        <property name="connection.username">webmail</property>
        <property name="connection.password">webmail</property>-->

        <!-- Settings for a local HSQL (webmail) database. -->
        <!--<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:hsql://localhost/webmail</property>
        <property name="connection.username">webmail</property>
        <property name="connection.password">webmail</property>-->

        <!-- Use the C3P0 connection pool. -->
        <property name="c3p0.min_size">3</property>
        <property name="c3p0.max_size">5</property>
        <property name="c3p0.timeout">1800</property>

        <!-- Disable second-level cache. -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="cache.use_query_cache">false</property>
        <property name="cache.use_minimal_puts">false</property>
        <property name="max_fetch_depth">3</property>

        <!-- Print SQL to stdout. -->
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>

        <!-- Drop and then re-create schema on SessionFactory build, for testing. -->
        <!--  property name="hbm2ddl.auto">create</property-->
        <property name="hbm2ddl.auto">validate</property>

        <!-- Bind the getCurrentSession() method to the thread. -->
        <property name="current_session_context_class">thread</property>

		<property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
		
        <!-- Hibernate XML mapping files -->
        <mapping resource="com/icesoft/applications/faces/webmail/login/user.hbm.xml"/>

        <mapping resource="com/icesoft/applications/faces/webmail/mail/mailAccount.hbm.xml"/>

        <mapping resource="com/icesoft/applications/faces/webmail/tasks/task.hbm.xml"/>

        <mapping resource="com/icesoft/applications/faces/webmail/contacts/contact.hbm.xml"/>

    </session-factory>

</hibernate-configuration>
