html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: black;
}
a:hover {
    color: black;
}
a:visited {
    color: black;
}
a:active {
    color: black;
}