/*
.ui-faces-message.ui-corner-all {
    position: relative;
    padding: 0.3em 0.3em 0.3em 0.6em;
    zoom: 1; */
/* for IE7, sets hasLayout *//*

}

.ui-faces-message.ui-empty-message {
    padding-right: 0;
}

.ui-faces-message .ui-icon {
    position: absolute;
    left: 0.3em;
    bottom: 0.3em;
}

.ui-faces-message .ui-icon-padding {
    padding: 0 8px;
}
*/

.ui-faces-message .ui-widget, .ui-faces-message-icon, .ui-faces-message-text {
    vertical-align: middle;
}

.ui-faces-message .ui-widget {
    padding: 0.3em;
}

.ui-faces-message-icon {
    display: inline-block;
}

.ui-faces-messages .ui-icon {
    float: left;
    margin: 0.2em 0.3em 0 0;
}

.ui-faces-messages div.ui-empty-message  .ui-icon {
    float: none;
    margin-right: 0;
}

.ui-faces-messages .ui-corner-all {
    padding: 0.3em;
}
