html, body, .overallContainer {
	width: 100%;
	height: 90%;
	padding: 0;
	margin: 0;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	font-style: normal;
	color: #000044;
}

.errorMessage, .globalErrorMessage {
    font-size: 12px;
    color: #F78208;
}

a {
    text-decoration: none;
    color: #333377;
}

a:hover {
    text-decoration: underline;
    color: #6666AA;
}

input, textarea, select, .halfButton, .fullButton {
    font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	font-style: italic;
	padding: 2px;
	margin: 0;
    background-color: #DDDDFF;
    color: #000044;
}

input, textarea {
	border: 2px inset #9999DD;
}

.imageButton, .imageButton-dis {
	border: 0;
	background: transparent;
	width: 16px;
	height: 16px;
}

.halfButton, .fullButton, .button {
    background-color: #002288;
    color: #EEEEFF;
	border: 2px outset #4466CC;
}

.halfButton {
	width: 50%;
}

.fullButton {
	width: 100%;
}

.button {
	width: 150px;
}

.genericTable {
	width: 100%;
	font-size: 12px;
	background-color: #DDDDFF;
	border: 1px solid #9999DD;
}

.genericTableHdr {
	font-size: 12px;
	font-weight: bold;
	background-color: #BBBBEE;
	border: 1px dashed #9999DD;
	padding: 2px;
}

.labelCol {
	width: 20%;
	text-align: right;
}

.valueCol {
	width: 45%;
	text-align: left;
}

.errorCol {
	width: 35%;
	text-align: left;
}

.lightRow {
	background-color: #EEEEFF;
}

.darkRow {
	background-color: #CCCCEE;
}