.overallContainer {
	width: 100%;
	height: 90%;
	padding: 0;
	margin: 0;
}

.leftPane-vertical, .leftPane-vertical-board, .leftPane-vertical-chat {
	width: 65%;
	height: 100%;
	float: left;
}

.rightPane-vertical, .rightPane-vertical-board, .rightPane-vertical-chat {
	width: 35%;
	height: 100%;
	float: left;
}

.leftPane-vertical-board, .rightPane-vertical-chat {
	width: 90%;
}

.leftPane-vertical-chat, .rightPane-vertical-board {
	width: 10%;
}

.leftPane-horizontal, .leftPane-horizontal-board, .leftPane-horizontal-chat {
	width: 100%;
	height: 65%;
	float: left;
}

.rightPane-horizontal, .rightPane-horizontal-board, .rightPane-horizontal-chat {
	width: 100%;
	height: 35%;
	float: right;
}

.leftPane-horizontal-board, .rightPane-horizontal-chat {
	height: 90%;
}

.leftPane-horizontal-chat, .rightPane-horizontal-board {
	height: 10%;
}

.rightTable, .cm {
	width: 100%;
	font-size: 12px;
}

.rightCell {
	width: 100%;
	font-size: 12px;
	background-color: #DDFFDD;
	border: 1px solid #99DD99;
}

.fiftyWidth {
	width: 50%;
}

.notStartedNotice, .returnToLobby, .winnerMessage {
	color: #FF0000;
	font-weight: bold;
	font-size: 20px;
}

.winnerMessage {
	color: #0000FF;
}

.invitePopup {
    background-color: #DDDDDD;
    border: 5px outset #666666;
    font-size: 12px;
    padding: 0;
    margin: 0;
    z-index: 1005;
}

.invitePopup .icePnlPopHdr {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background-color: #BCBCBC;
	border-bottom: 1px solid #666666;
	padding: 5px;
}

.invitePopup .icePnlPopBody {
	padding: 5px;
}

.scoreTurnCol {
	width: 5%;
	text-align: center;
}

.scoreNameCol {
	width: 60%;
	text-align: left;
}

.scoreScoreCol {
	width: 35%;
	text-align: center;
}

.nCol, .tCol { /* chatNameCol, chatTextCol */
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 10px;
}

.nCol { /* chatNameCol */
	width: 30%;
	text-align: right;
	overflow: hidden;
	border-right: 1px solid #99DD99;
	color: #000000;
}

.tCol { /* chatTextCol */
	width:70%;
	text-align: left;
}

.labelCol {
	width: 5%;
	text-align: center;
	font-weight: bold;
}

.messageCol {
	width: 80%;
	text-align: left;
}

.sendCol {
	width: 15%;
	text-align: left;
}

.gb { /* gameBoard */
	padding: 0;
	margin: 0;
	text-align: center;
}

.ci, .ci-dis { /* cardImage */
	border: 1px solid black;
	margin: 0;
	padding: 0;
	background-color: black;
	width: 60px;
	height: 60px;
}
