<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>seam-comp-showcase</display-name>
	<description>ICEfaces Component Showcase was designed to make developers aware of the rich set of features available in the custom and extended components. This version uses jboss-Seam-2.x with portlet support.</description>
	<context-param>
		<param-name>com.icesoft.faces.gmapKey</param-name>
		<param-value>ABQIAAAADlu0ZiSTam64EKaCQr9eTRTOTuQNzJNXRlYRLknj4cQ89tFfpxTEqxQnVWL4k55OPICgF5_SOZE06A</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.jspx</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.actionURLSuffix</param-name>
		<param-value>.seam</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.concurrentDOMViews</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.synchronousUpdate</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.doJSFStateManagement</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.uploadDirectory</param-name>
		<param-value>/</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.standardRequestScope</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.jboss.seam.core.init.debug</param-name>
		<param-value>true</param-value>
	</context-param>
	<filter>
		<filter-name>Seam Filter</filter-name>
		<filter-class>org.jboss.seam.web.SeamFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Seam Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.icesoft.faces.util.event.servlet.ContextEventRepeater</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.PortletContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Persistent Faces Servlet</servlet-name>
		<servlet-class>com.icesoft.faces.webapp.xmlhttp.PersistentFacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Blocking Servlet</servlet-name>
		<servlet-class>com.icesoft.faces.webapp.xmlhttp.BlockingServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SourceCode Reader</servlet-name>
		<servlet-class>com.icesoft.icefaces.samples.showcase.util.SourceCodeLoaderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>com.icesoft.faces.component.inputfile.FileUploadServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_autocomplete</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_buttonsAndLinks</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_calendar</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_charts</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_connectionStatus</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_dragAndDrop</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_effects</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_fileUpload</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_gmap</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_media_player</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_menubar</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_border</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_collapsible</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_divider</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_popup</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_positioned</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_series</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_stack</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_tabset_dynamic</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_tabset_static</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_panel_tooltip</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_progressBar</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_rich_text_editor</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_selection</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_columns</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_dataPaging</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_expandable</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_grouping</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_resizableColumns</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_rowSelection</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_table_sortableHeader</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_textEntry</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>components_tree</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.icesoft.faces.webapp.http.portlet.MainPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Persistent Faces Servlet</servlet-name>
		<url-pattern>*.seam</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Persistent Faces Servlet</servlet-name>
		<url-pattern>/xmlhttp/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Blocking Servlet</servlet-name>
		<url-pattern>/block/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/uploadHtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SourceCode Reader</servlet-name>
		<url-pattern>/sourcecodeStream.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_autocomplete</servlet-name>
		<url-pattern>/components_autocomplete/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_buttonsAndLinks</servlet-name>
		<url-pattern>/components_buttonsAndLinks/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_calendar</servlet-name>
		<url-pattern>/components_calendar/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_charts</servlet-name>
		<url-pattern>/components_charts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_connectionStatus</servlet-name>
		<url-pattern>/components_connectionStatus/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_dragAndDrop</servlet-name>
		<url-pattern>/components_dragAndDrop/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_effects</servlet-name>
		<url-pattern>/components_effects/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_fileUpload</servlet-name>
		<url-pattern>/components_fileUpload/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_gmap</servlet-name>
		<url-pattern>/components_gmap/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_media_player</servlet-name>
		<url-pattern>/components_media_player/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_menubar</servlet-name>
		<url-pattern>/components_menubar/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_border</servlet-name>
		<url-pattern>/components_panel_border/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_collapsible</servlet-name>
		<url-pattern>/components_panel_collapsible/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_divider</servlet-name>
		<url-pattern>/components_panel_divider/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_popup</servlet-name>
		<url-pattern>/components_panel_popup/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_positioned</servlet-name>
		<url-pattern>/components_panel_positioned/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_series</servlet-name>
		<url-pattern>/components_panel_series/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_stack</servlet-name>
		<url-pattern>/components_panel_stack/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_tabset_dynamic</servlet-name>
		<url-pattern>/components_panel_tabset_dynamic/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_tabset_static</servlet-name>
		<url-pattern>/components_panel_tabset_static/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_panel_tooltip</servlet-name>
		<url-pattern>/components_panel_tooltip/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_progressBar</servlet-name>
		<url-pattern>/components_progressBar/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_rich_text_editor</servlet-name>
		<url-pattern>/components_rich_text_editor/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_selection</servlet-name>
		<url-pattern>/components_selection/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_columns</servlet-name>
		<url-pattern>/components_table_columns/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_dataPaging</servlet-name>
		<url-pattern>/components_table_dataPaging/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_expandable</servlet-name>
		<url-pattern>/components_table_expandable/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_grouping</servlet-name>
		<url-pattern>/components_table_grouping/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_resizableColumns</servlet-name>
		<url-pattern>/components_table_resizableColumns/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_rowSelection</servlet-name>
		<url-pattern>/components_table_rowSelection/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_table_sortableHeader</servlet-name>
		<url-pattern>/components_table_sortableHeader/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_textEntry</servlet-name>
		<url-pattern>/components_textEntry/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>components_tree</servlet-name>
		<url-pattern>/components_tree/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/portlet_2_0</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>