/** sprite: sprite; sprite-image: url('../sprite.png'); sprite-layout: vertical; */
/** sprite: sprite-x; sprite-image: url('../sprite-x.png'); sprite-layout: vertical; */
/** sprite: sprite-y; sprite-image: url('../sprite-y.png'); sprite-layout: horizontal; */
