/* Component Tutorial Style Sheet */


/*
Generic site wide styles
*/
body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 10px 10px 10px 10px;
}

/* default anchor style */
a.nodec, a:link, a:visited, a:hover  {
   color: #0000FF;
   font-weight: normal;
   text-decoration: underline;
}

a:hover{
    color: #666666;
}

/* header styles */
h1{
    font-size: 22px;
    font-weight: bold;
}

h2{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

/* Default paragraph text */
p, li{
    font-size: 12px;
    color: #000000;
    line-height: 150%;
}

/* default iamges */
img{
    border: 0px;
}

/* special case formating rules */

/* code blocks */
.code-java, .code-jsf, .code-html, .code-xml, .object-name, .object-attribute{
    font-family: serif;
    font-size: 14px;
    color: #666666;
}

.object-attribute{
    font-style: italic;
}

/* image includes */
.screenshot{
    text-align: center;
}

/* demo instructions */
.demo-instruction {
    border: 1px solid black;
    border-bottom-width: 2px;
    border-right-width: 2px;
    background-color: #EFEFEF;
    padding-left: 10px;
}

.demo-instruction h3{
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}
.demo-instruction ul li{

}

/* Examples table */
.examplesTable {
    border: 1px solid black;
}

.headerTitle, .bodyExample, .bodyNotes, .bodySource {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.headerTitle{
    font-weight: bold;
    color: #000000;
    text-align: center;
    font-style: italic;
}

.bodyExample, .bodyNotes, .bodySource{
    font-size: 12px;
    color: #000000;
}


/* header footer formating */
.tutorialHeaderText, .tutorialFooterText{

}
