.if-sub-mon.clone > .if-sub-mon-mid {
    display: inline-block;
    background-color: white;
}

.if-sub-mon > .if-sub-mon-img {
    vertical-align: middle;
}

.if-sub-mon > .if-sub-mon-txt {
    margin: 0.5em;
}
