#header {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    font-size: 2em;
}

#footer {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    clear: both;
    height: 14px;
}

#navigation {
    float: left;
    /*background-color: #ece3a5;*/
    padding: 5px;
    width: 150px;
    /*height: 400px;*/
	font-size: 1.25em;
	font-style: bold;
}

#content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
    /*height: 400px;*/
}

/*
.ice-skin-rime .yui-navset .yui-content {
background-color:#FFFBFF;
border-color:#D9D9D9;
border-style:solid;
border-width:0 1px 1px;
}
*/

.linkButtonColumn {
  width: 400px;
}

/* TODO: The original SAM style rules have (duplicate? redundant?) specific selectors
   all the way down the hierarchy and to make the simple anchor tag look as an anchor,
   we need to override all the styles at all levels
*/ 
.ice-skin-sam .simpleLinkButton {
    /*background-image: none;*/
    /*background-repeat: no-repeat;*/
    text-decoration: underline;
    cursor:hand;
    /*border: none;*/
}

.ice-skin-sam .yui-button .first-child .simpleLinkButton {
    /*background-image: none;*/
    /*background-repeat: no-repeat;*/
    text-decoration: underline;
    cursor:hand;
    /*border: none;*/
}

.ice-skin-sam .yui-button .first-child .simpleLinkButton a {
    /*background-image: none;*/
    /*background-repeat: no-repeat;*/
    text-decoration: underline;
    cursor:hand;
    /*border: none;*/
}

.tabSetDemo .yui-content {
    height:150px;
}
