#header {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    font-size: 2em;
}

#footer {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    clear: both;
}

#navigation {
    float: left;
    /*background-color: #ece3a5;*/
    padding: 5px;
    width: 150px;
    /*height: 400px;*/
}

#content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
    /*height: 400px;*/
}

.ice-skin-rime .yui-navset .yui-content {
background-color:#FFFBFF;
border-color:#D9D9D9;
border-style:solid;
border-width:0 1px 1px;
}

.yui-navset .yui-content, .yui-navset .yui-content div{
    height:150px;
}