.icePnlPop {
    color: #666666;
    background-color: #000000;
    padding: 0px;
    z-index: 1000;
    top: 20%;
    left: 10%;
    position: absolute;
    width: 500px;
    height: 200px;
}

.icePnlPopHdr {
    background-color: #FF0000;
    color: #FFFFFF;
    text-align: center;
}

.icePnlPopBody {
    background-color: #DDDDDD;
    padding: 10px;
}

